<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{{ company.name }}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="{{ company.get_image }}" rel="icon">
    <link href="{{ company.get_image }}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="{% static 'mainpage/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'mainpage/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/fontawesome-6.1.1/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainpage/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'mainpage/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainpage/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'mainpage/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'mainpage/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'mainpage/css/style.css' %}" rel="stylesheet">
    {% block head %}

    {% endblock %}
</head>
<body>

{% include 'mainpage/header.html' %}

{% block body %}

{% endblock %}

{% include 'mainpage/footer.html' %}

{% block js %}

{% endblock %}
</body>
</html>