{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/spanish.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/bootstrap-daterangepicker-3.1/css/daterangepicker.css' %}"/>
    <script src="{% static 'employee/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <th>Código</th>
    <th>Nombres</th>
    <th>Número de cédula</th>
    <th>Teléfono</th>
    <th>Email</th>
    <th>Salario mensual</th>
    <th>Rubros</th>
    <th>Estado</th>
    <th class="text-center">Opciones</th>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript_list %}

{% endblock %}
