{% extends 'skin.html' %}
{% load static %}
{% block head_body %}
    <script src="{% static 'lib/highcharts-9.1.1/highcharts.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/highcharts-9.1.1/highcharts-3d.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/highcharts-9.1.1/modules/exporting.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/highcharts-9.1.1/modules/data.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/highcharts-9.1.1/modules/drilldown.js' %}" type="text/javascript"></script>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- -->
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title"><i class="fas fa-shopping-cart"></i> Las últimas 10 Ventas de Servicios/Paqueteria</h3>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                <tr>
                                    <th>Número</th>
                                    <th>Fecha de registro</th>
                                    <th>Tipo</th>
                                    <th>Total a pagar</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for s in sales %}
                                    <tr>
                                        <td>{{ s.number }}</td>
                                        <td>{{ s.date_joined|date:'c' }}</td>
                                        <td>{{ s.get_type_display }}</td>
                                        <td>${{ s.total }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-calendar-check"></i> Productos/Servicios y Paquetería del año {{ current_date.year }}</h3>
                    </div>
                    <div class="card-body p-0">
                        <div class="container-fluid p-3" id="graph-purchase-vs-sale">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var chart = {
                getStockProducts: function () {
                    $.ajax({
                        url: pathname,
                        type: 'POST',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        data: {
                            'action': 'get_graph_stock_products'
                        },
                        dataType: 'json',
                        success: function (request) {
                            if (!request.hasOwnProperty('error')) {
                                Highcharts.chart('graph-stock-products', {
                                    chart: {
                                        type: 'pie',
                                        options3d: {
                                            enabled: true,
                                            alpha: 45,
                                            beta: 0
                                        }
                                    },
                                    exporting: {
                                        enabled: false
                                    },
                                    title: {
                                        text: ''
                                    },
                                    accessibility: {
                                        point: {
                                            valueSuffix: '%'
                                        }
                                    },
                                    tooltip: {
                                        pointFormat: 'Stock: <b>{point.y:.0f} Unidades</b>'
                                    },
                                    plotOptions: {
                                        pie: {
                                            allowPointSelect: true,
                                            cursor: 'pointer',
                                            depth: 35,
                                            dataLabels: {
                                                enabled: true,
                                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                                            }
                                        }
                                    },
                                    series: [{
                                        'name': 'Stock de Productos',
                                        'type': 'pie',
                                        'colorByPoint': true,
                                        'data': request,
                                    }]
                                });
                                return false;
                            }
                            message_error(request.error);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            message_error(errorThrown + ' ' + textStatus);
                        }
                    });
                },
                getSaleServicesPackages: function () {
                    $.ajax({
                        url: pathname,
                        type: 'POST',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        data: {
                            'action': 'get_graph_sale_services_packages'
                        },
                        dataType: 'json',
                        success: function (request) {
                            if (!request.hasOwnProperty('error')) {
                                Highcharts.chart('graph-purchase-vs-sale', {
                                    chart: {
                                        type: 'column'
                                    },
                                    title: {
                                        text: ''
                                    },
                                    subtitle: {
                                        text: ''
                                    },
                                    exporting: {
                                        enabled: false
                                    },
                                    xAxis: {
                                        categories: [
                                            'Enero',
                                            'Febrero',
                                            'Marzo',
                                            'Abril',
                                            'Mayo',
                                            'Junio',
                                            'Julio',
                                            'Agosto',
                                            'Septiembre',
                                            'Octubre',
                                            'Noviembre',
                                            'Diciembre'
                                        ],
                                        crosshair: true
                                    },
                                    yAxis: {
                                        min: 0,
                                        title: {
                                            text: 'Valores $'
                                        }
                                    },
                                    tooltip: {
                                        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                            '<td style="padding:0"><b>${point.y:.2f}</b></td></tr>',
                                        footerFormat: '</table>',
                                        shared: true,
                                        useHTML: true
                                    },
                                    plotOptions: {
                                        column: {
                                            pointPadding: 0.2,
                                            borderWidth: 0
                                        }
                                    },
                                    series: request
                                });
                                return false;
                            }
                            message_error(request.error);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            message_error(errorThrown + ' ' + textStatus);
                        }
                    });
                }
            };
            $(function () {
                chart.getStockProducts();
                chart.getSaleServicesPackages();
            });
        </script>
    </div>
{% endblock %}