{% extends 'login/base.html' %}
{% load static %}
{% block head_login %}
    <script src="{% static 'login/js/reset_password.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center">
        <div class="col-lg-5 mt-1">
            <form method="post" id="frmForm" autocomplete="off" data-url="{% url 'login' %}">
                <div class="card">
                    <div class="card-header">
                        <h1 class="card-title fw-bold text-center p-2 m-0">
                            <span class="fa-stack fa-1x mt-2 mb-2">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="{{ dashboard.get_icon }} fa-stack-1x fa-inverse"></i>
                            </span>
                            <br>
                            Reseteo de contraseña
                        </h1>
                    </div>
                    <div class="card-body p-4">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        <div class="mb-3">
                            <label class="form-label fw-bold">{{ form.username.label }}:</label>
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-grid gap-2 mt-2">
                            <button type="submit" class="btn btn-primary btn-lg">
                                <i class="fas fa-sign-in-alt"></i> Enviar
                            </button>
                        </div>
                        <p class="mt-3 text-center fw-normal">
                            Retroceder al login <a href="{% url 'login' %}"> da click aqui <i class="fas fa-user"></i></a>
                        </p>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}